<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swp.culturehomestay">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.FilterSearchActivity"></activity>
        <activity android:name=".activity.ChangeNumberOfRoomActivity" />
        <activity android:name=".activity.AdvanceSearchActivity" />
        <activity android:name=".activity.ShowHomeByHost" />
        <activity
            android:name=".activity.SignUpActivity"
            android:isScrollContainer="false"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.ShowReviewActivity" />
        <activity android:name=".activity.ShowHomeCultureActivity" />
        <activity android:name=".activity.SearchViaMapActivity" />
        <activity android:name=".activity.ShowPriceDetailActivity" />
        <activity android:name=".activity.ChangeNumberOfGuestActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.PickDateActivity" />
        <activity android:name=".activity.CancelPolicyActivity" />
        <activity android:name=".activity.RoomRateActivity" />
        <activity android:name=".activity.ShowAmenityActivity" />
        <activity android:name=".activity.DetailPhotoActivity" />
        <activity android:name=".activity.ShowAlbumPhotoActivity" />
        <activity android:name=".activity.BookingHomeConfirmActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.BookingHomeDetailActivity" />
        <activity android:name=".activity.BookingHomePickDateActivity" /> <!-- metadata Facebook -->
        <activity android:name=".activity.CustomerProfileActivity" /> <!-- metadata Facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ViewHomeDetailActivity" />
        <activity
            android:name=".activity.SplashScreenActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>